[alias]
b = 'build --release --target thumbv6m-none-eabi -Zbuild-std -Zbuild-std-features=optimize_for_size'

[target.thumbv6m-none-eabi]
rustflags = [
  '-Clink-arg=-Tdevice.x', '-Cforce-frame-pointers=no', '-Zemit-stack-sizes']
